## Contents
* Preprocessing

In [71]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.tree import DecisionTreeClassifier

['train.csv', 'gender_submission.csv', 'test.csv']

## Preprosessing

In [51]:
raw_data = pd.read_csv('../input/train.csv')

In [52]:
raw_data

     PassengerId  Survived  Pclass    ...         Fare        Cabin  Embarked
0              1         0       3    ...       7.2500          NaN         S
1              2         1       1    ...      71.2833          C85         C
2              3         1       3    ...       7.9250          NaN         S
3              4         1       1    ...      53.1000         C123         S
4              5         0       3    ...       8.0500          NaN         S
5              6         0       3    ...       8.4583          NaN         Q
6              7         0       1    ...      51.8625          E46         S
7              8         0       3    ...      21.0750          NaN         S
8              9         1       3    ...      11.1333          NaN         S
9             10         1       2    ...      30.0708          NaN         C
10            11         1       3    ...      16.7000           G6         S
11            12         1       1    ...      26.5500         C103         S
12            13         0       3    ...       8.0500          NaN         S
13            14         0       3    ...      31.2750          NaN         S
14            15         0       3    ...       7.8542          NaN         S
15            16         1       2    ...      16.0000          NaN         S
16            17         0       3    ...      29.1250          NaN         Q
17            18         1       2    ...      13.0000          NaN         S
18            19         0       3    ...      18.0000          NaN         S
19            20         1       3    ...       7.2250          NaN         C
20            21         0       2    ...      26.0000          NaN         S
21            22         1       2    ...      13.0000          D56         S
22            23         1       3    ...       8.0292          NaN         Q
23            24         1       1    ...      35.5000           A6         S
24            25         0       3    ...      21.0750          NaN         S
25            26         1       3    ...      31.3875          NaN         S
26            27         0       3    ...       7.2250          NaN         C
27            28         0       1    ...     263.0000  C23 C25 C27         S
28            29         1       3    ...       7.8792          NaN         Q
29            30         0       3    ...       7.8958          NaN         S
..           ...       ...     ...    ...          ...          ...       ...
861          862         0       2    ...      11.5000          NaN         S
862          863         1       1    ...      25.9292          D17         S
863          864         0       3    ...      69.5500          NaN         S
864          865         0       2    ...      13.0000          NaN         S
865          866         1       2    ...      13.0000          NaN         S
866          867         1       2    ...      13.8583          NaN         C
867          868         0       1    ...      50.4958          A24         S
868          869         0       3    ...       9.5000          NaN         S
869          870         1       3    ...      11.1333          NaN         S
870          871         0       3    ...       7.8958          NaN         S
871          872         1       1    ...      52.5542          D35         S
872          873         0       1    ...       5.0000  B51 B53 B55         S
873          874         0       3    ...       9.0000          NaN         S
874          875         1       2    ...      24.0000          NaN         C
875          876         1       3    ...       7.2250          NaN         C
876          877         0       3    ...       9.8458          NaN         S
877          878         0       3    ...       7.8958          NaN         S
878          879         0       3    ...       7.8958          NaN         S
879          880         1       1    ...      83.1583          C50         C
880          881         1       2    ...      26.0000          NaN         S
881          882         0       3    ...       7.8958          NaN         S
882          883         0       3    ...      10.5167          NaN         S
883          884         0       2    ...      10.5000          NaN         S
884          885         0       3    ...       7.0500          NaN         S
885          886         0       3    ...      29.1250          NaN         Q
886          887         0       2    ...      13.0000          NaN         S
887          888         1       1    ...      30.0000          B42         S
888          889         0       3    ...      23.4500          NaN         S
889          890         1       1    ...      30.0000         C148         C
890          891         0       3    ...       7.7500          NaN         Q

[891 rows x 12 columns]

In [80]:
raw_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [68]:
title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 
                    'Countess', 'Don', 'Jonkheer']
def substring_extractor(string,substrings) :
    for substring in substrings:
        
        if string.find(substring) != -1 :
            return substring
    return np.nan

def replace_titles(row):
    title = row['Title']
    if title in ['Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
        return 'Mr'
    elif title in ['Countess', 'Mme']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title =='Dr':
        if row['Sex']=='Male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return title
p_data = raw_data.loc[:]
p_data['Title'] = p_data['Name'].apply(lambda row:substring_extractor(row,title_list))
p_data['Title'] = p_data.apply(replace_titles,axis=1) # Reducing Titles
p_data

     PassengerId  Survived  Pclass   ...          Cabin Embarked   Title
0              1         0       3   ...            NaN        S      Mr
1              2         1       1   ...            C85        C     Mrs
2              3         1       3   ...            NaN        S    Miss
3              4         1       1   ...           C123        S     Mrs
4              5         0       3   ...            NaN        S      Mr
5              6         0       3   ...            NaN        Q      Mr
6              7         0       1   ...            E46        S      Mr
7              8         0       3   ...            NaN        S  Master
8              9         1       3   ...            NaN        S     Mrs
9             10         1       2   ...            NaN        C     Mrs
10            11         1       3   ...             G6        S    Miss
11            12         1       1   ...           C103        S    Miss
12            13         0       3   ...            NaN        S      Mr
13            14         0       3   ...            NaN        S      Mr
14            15         0       3   ...            NaN        S    Miss
15            16         1       2   ...            NaN        S     Mrs
16            17         0       3   ...            NaN        Q  Master
17            18         1       2   ...            NaN        S      Mr
18            19         0       3   ...            NaN        S     Mrs
19            20         1       3   ...            NaN        C     Mrs
20            21         0       2   ...            NaN        S      Mr
21            22         1       2   ...            D56        S      Mr
22            23         1       3   ...            NaN        Q    Miss
23            24         1       1   ...             A6        S      Mr
24            25         0       3   ...            NaN        S    Miss
25            26         1       3   ...            NaN        S     Mrs
26            27         0       3   ...            NaN        C      Mr
27            28         0       1   ...    C23 C25 C27        S      Mr
28            29         1       3   ...            NaN        Q    Miss
29            30         0       3   ...            NaN        S      Mr
..           ...       ...     ...   ...            ...      ...     ...
861          862         0       2   ...            NaN        S      Mr
862          863         1       1   ...            D17        S     Mrs
863          864         0       3   ...            NaN        S    Miss
864          865         0       2   ...            NaN        S      Mr
865          866         1       2   ...            NaN        S     Mrs
866          867         1       2   ...            NaN        C    Miss
867          868         0       1   ...            A24        S      Mr
868          869         0       3   ...            NaN        S      Mr
869          870         1       3   ...            NaN        S  Master
870          871         0       3   ...            NaN        S      Mr
871          872         1       1   ...            D35        S     Mrs
872          873         0       1   ...    B51 B53 B55        S      Mr
873          874         0       3   ...            NaN        S      Mr
874          875         1       2   ...            NaN        C     Mrs
875          876         1       3   ...            NaN        C    Miss
876          877         0       3   ...            NaN        S      Mr
877          878         0       3   ...            NaN        S      Mr
878          879         0       3   ...            NaN        S      Mr
879          880         1       1   ...            C50        C     Mrs
880          881         1       2   ...            NaN        S     Mrs
881          882         0       3   ...            NaN        S      Mr
882          883         0       3   ...            NaN        S    Miss
883          884         0       2   ...            NaN        S      Mr
884          885         0       3   ...            NaN        S      Mr
885          886         0       3   ...            NaN        Q     Mrs
886          887         0       2   ...            NaN        S      Mr
887          888         1       1   ...            B42        S    Miss
888          889         0       3   ...            NaN        S    Miss
889          890         1       1   ...           C148        C      Mr
890          891         0       3   ...            NaN        Q      Mr

[891 rows x 13 columns]

In [69]:
#Turning cabin number into Deck
cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
p_data['Deck']= p_data['Cabin'].fillna('Unknown').apply(lambda row: substring_extractor(row, cabin_list))

In [70]:
p_data

     PassengerId  Survived  Pclass   ...    Embarked   Title     Deck
0              1         0       3   ...           S      Mr  Unknown
1              2         1       1   ...           C     Mrs        C
2              3         1       3   ...           S    Miss  Unknown
3              4         1       1   ...           S     Mrs        C
4              5         0       3   ...           S      Mr  Unknown
5              6         0       3   ...           Q      Mr  Unknown
6              7         0       1   ...           S      Mr        E
7              8         0       3   ...           S  Master  Unknown
8              9         1       3   ...           S     Mrs  Unknown
9             10         1       2   ...           C     Mrs  Unknown
10            11         1       3   ...           S    Miss        G
11            12         1       1   ...           S    Miss        C
12            13         0       3   ...           S      Mr  Unknown
13            14         0       3   ...           S      Mr  Unknown
14            15         0       3   ...           S    Miss  Unknown
15            16         1       2   ...           S     Mrs  Unknown
16            17         0       3   ...           Q  Master  Unknown
17            18         1       2   ...           S      Mr  Unknown
18            19         0       3   ...           S     Mrs  Unknown
19            20         1       3   ...           C     Mrs  Unknown
20            21         0       2   ...           S      Mr  Unknown
21            22         1       2   ...           S      Mr        D
22            23         1       3   ...           Q    Miss  Unknown
23            24         1       1   ...           S      Mr        A
24            25         0       3   ...           S    Miss  Unknown
25            26         1       3   ...           S     Mrs  Unknown
26            27         0       3   ...           C      Mr  Unknown
27            28         0       1   ...           S      Mr        C
28            29         1       3   ...           Q    Miss  Unknown
29            30         0       3   ...           S      Mr  Unknown
..           ...       ...     ...   ...         ...     ...      ...
861          862         0       2   ...           S      Mr  Unknown
862          863         1       1   ...           S     Mrs        D
863          864         0       3   ...           S    Miss  Unknown
864          865         0       2   ...           S      Mr  Unknown
865          866         1       2   ...           S     Mrs  Unknown
866          867         1       2   ...           C    Miss  Unknown
867          868         0       1   ...           S      Mr        A
868          869         0       3   ...           S      Mr  Unknown
869          870         1       3   ...           S  Master  Unknown
870          871         0       3   ...           S      Mr  Unknown
871          872         1       1   ...           S     Mrs        D
872          873         0       1   ...           S      Mr        B
873          874         0       3   ...           S      Mr  Unknown
874          875         1       2   ...           C     Mrs  Unknown
875          876         1       3   ...           C    Miss  Unknown
876          877         0       3   ...           S      Mr  Unknown
877          878         0       3   ...           S      Mr  Unknown
878          879         0       3   ...           S      Mr  Unknown
879          880         1       1   ...           C     Mrs        C
880          881         1       2   ...           S     Mrs  Unknown
881          882         0       3   ...           S      Mr  Unknown
882          883         0       3   ...           S    Miss  Unknown
883          884         0       2   ...           S      Mr  Unknown
884          885         0       3   ...           S      Mr  Unknown
885          886         0       3   ...           Q     Mrs  Unknown
886          887         0       2   ...           S      Mr  Unknown
887          888         1       1   ...           S    Miss        B
888          889         0       3   ...           S    Miss  Unknown
889          890         1       1   ...           C      Mr        C
890          891         0       3   ...           Q      Mr  Unknown

[891 rows x 14 columns]

In [79]:
target = p_data['Survived']
pp_data = p_data.drop(['Name','Ticket','Cabin','Cabin','PassengerId','Survived'],axis=1)
pp_data.isnull().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
Title         0
Deck          0
dtype: int64

In [ ]:
dtree=DecisionTreeClassifier()
dtree.fit(df,y)